html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}
#social-media {
    /* style */
    color: blue;
}
.experience {
    font-style: italic;
}
a:visited {
    color: green;
}
a:link {
    color: green;
}
a:hover {
    background-color: yellow;
}
body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}
